@model MusicMVC.Models.MusicGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Songs</h1>

@if (User.IsInRole("Admin") | User.IsInRole("Moderator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <form asp-controller="Songs" asp-action="Index" method="get">
        <p>
            <select asp-for="MusicGenre" asp-items="Model.Genres">
                <option value="">All</option>
            </select>
            Title: <input type="text" asp-for="Song" />
            Singer: <input type="text" asp-for="Singer" />
            <input type="submit" value="Search" />
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                @if (User.Identity.IsAuthenticated)
                {
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Audio)
                </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Singer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs[0].Genre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Songs)
            {
            <tr>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <audio controls="controls">
                            <source src="@Html.DisplayFor(modelItem => item.Audio)" type="audio/mp3">
                        </audio>
                    </td>
                }
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Image)" width="80" height="40">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Singer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    @if (User.IsInRole("Admin") | User.IsInRole("Moderator"))
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
